#!/bin/bash
if [[ $OSTYPE == darwin* ]]; then
    alias flush='dscacheutil -flushcache'

    # Global Bash #
    alias c='clear'
    alias cd~='cd $HOME'
    alias cd.='cd ..'
    alias cd..='cd ../../'
    alias cd...='cd ../../../'
    alias cd.c='cd $HOME/.config'
    alias cd.s='cd $HOME/.ssh'
    alias vizsh='nvim ~/.zshrc'
    alias sozsh='source ~/.zshrc'
    alias vienv='nvim ~/.config/.env'
    alias vihosts='sudo nvim /etc/hosts'
    alias hs='history | grep'
    alias mkcd='function _mkcd(){ mkdir -p "$1"; cd "$1" };_mkcd'
    alias rm:f='rm -rf'

    # Exa (https://github.com/ogham/exa)
    # general use
    alias ls='exa'                                                                           # ls
    alias l='exa -lbF --header --git --icons'                                                # list, size, type, git
    alias ll='exa -lbGF --header --git --icons'                                              # long list
    alias lla='exa -labGF --header --git --icons'                                            # long list
    alias llm='exa -lbGF --header --git --sort=modified --icons'                             # long list, modified date sort
    alias llam='exa -labGF --header --git --sort=modified --icons'                           # long list, modified date sort
    alias la='exa -lbhHigUmuSa --time-style=long-iso --header --git --color-scale --icons'   # all list
    alias lx='exa -lbhHigUmuSa@ --time-style=long-iso --header --git --color-scale --icons'  # all + extended list
    # speciality views
    alias lS='exa -1 --icons'                                                                 # one column, just names
    alias lt='exa_tree'
    alias lta='exa_tree_dot'

    # Application
    alias slack='open -a /Applications/Slack.app'
    alias tower='open -a /Applications/Tower.app'
    alias paw='open -a /Applications/Paw.app'
    alias tplus='open -a /Applications/TablePlus.app'
    alias tele='open -a /Applications/Telegram.app'
    alias postico='open -a /Applications/Postico.app'

    # Path
    alias lab:config='cd $HOME/Labs/config'
    alias lab:infra='cd $HOME/Labs/infra'
    alias lab:apps='cd $HOME/Labs/apps'
    alias pj='cd $HOME/projects && ll -al'
    alias dl='cd $HOME/Downloads'

    # Tree
    alias tree='tree -C'

    # Git Command Alises #
    alias g='git'
    alias g:v='git --version'
    alias g:i='git init'
    alias g:s='git status'
    alias g:a.='git add .'
    alias g:aa='git add -All'
    alias g:b='git branch'
    alias g:b:d='git branch -d'
    alias g:cl='git clone'
    alias g:cm='function _gcommit(){ git commit -m $1 };_gcommit'
    alias g:co='git checkout'
    alias g:co:b='git checkout -b'
    alias g:d:c='git rm -r --cached'
    alias g:f='git fetch'
    alias g:f:a='git fetch --all'
    alias g:mr='git merge'
    alias g:mr:n='git merge --no-ff --no-commit'
    alias g:r:a='git remote add'
    alias g:r:r='git remote rm'
    alias g:r:v='git remote -v'
    alias g:r:n='git remote set-url'
    alias g:pull='function _gpull(){ git pull ${1:-origin} "$(git symbolic-ref --short HEAD)" };_gpull'
    alias g:push='function _gpush(){ git push ${1:-origin} "$(git symbolic-ref --short HEAD)" };_gpush'
    alias g:push:t='function _gpushtag(){ git push ${1:-origin} --tags };_gpushtag'
    alias g:push:db='function _gpushbranchdelete(){ git push $1 --delete --force $2 };_gpushbranchdelete'
    alias g:t='git tag'
    alias g:t:d='gtdlp'
    alias g:t:da='git_delete_all_tags'
    alias g:tag='git_tagging'
    alias g:st='git stash'
    alias g:st:a='git stash apply'
    # Git with Emoji
    alias g:new='gnew'
    alias g:imp='gimp'
    alias g:fix='gfix'
    alias g:rls='grls'
    alias g:doc='gdoc'
    alias g:tst='gtst'
    alias g:brk='gbrk'
    # Git with Emoji with Push
    alias g:new:p='gnew --push'
    alias g:imp:p='gimp --push'
    alias g:fix:p='gfix --push'
    alias g:rls:p='grls --push'
    alias g:doc:p='gdoc --push'
    alias g:tst:p='gtst --push'
    alias g:brk:p='gbrk --push'

    # Git Flow
    alias gf='git flow'
    alias gf:i='git flow init'
    alias gf:f='git flow feature'
    alias gf:h='git flow hotfix'
    alias gf:r='git flow release'
    alias gf:fs='git flow feature start'
    alias gf:hs='git flow hotfix start'
    alias gf:rs='git flow release start'
    alias gf:ff='git flow feature finish'
    alias gf:fp='git flow feature publish'
    alias gf:hf='git flow hotfix finish'
    alias gf:rf='git flow release finish'
    alias gf:fp='git flow feature publish'
    alias gf:hp='git flow hotfix publish'
    alias gf:rp='git flow release publish'
    alias gf:fp='git flow feature pull'

    # Homebrew Services
    alias s:l='brew services list'
    alias s:s='function _sservice(){ brew services start $1 };_sservice'
    alias s:r='function _rservice(){ brew services restart $1 };_rservice'
    alias s:d='function _dservice(){ brew services stop $1 };_dservice'
    alias s:cu='function _cservice(){ brew services cleanup };_cservice'

    # NVM
    alias nvm:l='nvm ls'
    alias nvm:l:r='nvm ls-remote --lts'
    alias nvm:v:r="nvm version-remote --lts"
    alias nvm:in='nvm install'
    alias nvm:in:lts='nvm install '\''lts/*'\'' --reintsall-packages-from=default --latest-npm'
    alias nvm:un='nvm uninstall'
    alias nvm:u='nvm use'
    alias nvm:d='nvm alias default'

    # NodeJs NPM #
    alias node:v='node -v'
    alias npm:v='npm -v'
    alias npm:i='npm init'
    alias npm:in='npm install'
    alias npm:ud='npm update'
    alias npm:dev='npm run dev'
    alias npm:build='npm run build'
    alias npm:build:s='npm run build-staging'
    alias npm:build:p='npm run build-production'
    alias npm:audit='npm audit fix'
    alias npm:audit:f='npm audit fix --force'

    # PHP Composer
    # alias com='composer'
    alias com:v='composer -V'
    alias com:i='composer init'
    alias com:in='composer install'
    alias com:ud='composer update'
    alias com:ud:g='composer global update'
    alias com:ug='composer upgrade'
    alias com:re='composer require'
    alias com:re:g='composer global require'
    alias com:re:d='composer require --dev'
    alias com:rm='composer remove'
    alias com:rm:d='composer remove --dev'
    alias com:gs='composer global show'

    # Laravel Artisan
    alias pa='php artisan'
    alias pa:ls='pa list'
    alias pa:v='pa --version'

    alias web:new='new_website_project'

    # Tmuxinator
    alias mux='tmuxinator'
    alias mux:v='tmuxinator version'
    alias mux:s='tmuxinator start'
    alias mux:st='tmuxinator stop'
    alias mux:n='tmuxinator new'
    alias mux:l='tmuxinator list'
    alias mux:e='tmuxinator edit'
    alias mux:c='tmuxinator copy'
    alias mux:d='tmuxinator delete'
    alias mux:doc='tmuxinator doctor'
    alias mux:debug='tmuxinator debug'

    # Tmux
    alias tx='tmux'
    alias tx:i='tmux info'
    alias tx:a='tmux attach -t'
    alias tx:n='tmux new -s'
    alias tx:l='tmux list'
    alias tx:k:t='tmux kill-session -t'
    alias tx:k:a='tmux kill-session -a'
    alias tx:k:ser='tmux kill-server'

    # Ansible
    alias a='ansible'
    alias a:l='ansible --list-hosts all'
    alias a:i='new_ansible'
    alias ap='ansible-playbook'
    alias ag='ansible-galaxy'
    alias ag:l='ansible-galaxy list'
    alias ag:i='ansible-galaxy install'
    alias ag:r='ansible-galaxy install'
    alias ag:s='ansible-galaxy search'
    alias ag:init='ansible-galaxy init'
    alias av:c='ansible-vault create'
    alias av:e='ansible-vault encrypt'
    alias av:d='ansible-vault decrypt'
    alias av:v='ansible-vault view'
    alias av='ansible-vault'

    # Molecule test Ansible
    alias mol='molecule'
    alias mol:d='molecule --debug'
    alias mol:ck='molecule check'
    alias mol:d:ck='molecule --debug check'
    alias mol:p:ck='molecule check --parallel'
    alias mol:s:ck='molecule check --scenario-name'
    alias mol:cu='molecule cleanup'
    alias mol:d:cu='molecule --debug cleanup'
    alias mol:s:cu='molecule cleanup --scenario-name'
    alias mol:cv='molecule converge'
    alias mol:d:cv='molecule --debug converge'
    alias mol:s:cv='molecule converge --scenario-name'
    alias mol:c='molecule create'
    alias mol:d:c='molecule --debug create'
    alias mol:s:c='molecule create --scenario-name'
    alias mol:dn:c='molecule create --driver-name'
    alias mol:de='molecule dependency'
    alias mol:d:de='molecule --debug dependency'
    alias mol:s:de='molecule dependency --scenario-name'
    alias mol:ds='molecule destroy'
    alias mol:ds:a='molecule destroy --all'
    alias mol:d:ds='molecule --debug destroy'
    alias mol:p:ds='molecule destroy --parallel'
    alias mol:s:ds='molecule destroy --scenario-name'
    alias mol:id='molecule idempotence'
    alias mol:d:id='molecule --debug idempotence'
    alias mol:s:id='molecule idempotence --scenario-name'
    alias mol:i='molecule init role'
    alias mol:ln='molecule lint'
    alias mol:d:ln='molecule --debug lint'
    alias mol:s:ln='molecule lint --scenario-name'
    alias mol:ls='molecule list'
    alias mol:ls:fp='molecule list --format plain'
    alias mol:ls:fy='molecule list --format yml'
    alias mol:d:ls='molecule --debug list'
    alias mol:s:ls='molecule list --scenario-name'
    alias mol:li='molecule login'
    alias mol:d:li='molecule --debug login'
    alias mol:s:li='molecule login --scenario-name'
    alias mol:mx='molecule matrix subcommand'
    alias mol:d:mx='molecule --debug matrix subcommand'
    alias mol:s:mx='function _molmatrix(){ molecule matrix --scenario-name $1 subcommand };_molmatrix'
    alias mol:pp='molecule prepare'
    alias mol:d:pp='molecule --debug prepare'
    alias mol:s:pp='molecule prepare --scenario-name'
    alias mol:sx='molecule syntax'
    alias mol:d:sx='molecule --debug syntax'
    alias mol:s:sx='molecule syntax --scenario-name'
    alias mol:t='molecule test'
    alias mol:t:da='molecule test --destroy=always'
    alias mol:t:dn='molecule test --destroy=never'
    alias mol:t:a='molecule test --all'
    alias mol:s:t='molecule test --scenario-name'
    alias mol:d:t='molecule --debug test'
    alias mol:p:t='molecule test --parallel'
    alias mol:v='molecule verify'
    alias mol:d:v='molecule --debug verify'
    alias mol:s:v='molecule verify --scenario-name'

    # Terraform
    alias tf='terraform'
    alias tf:i='terraform init'
    alias tf:v='terraform validate'
    alias tf:p='terraform plan'
    alias tf:a='terraform apply'
    alias tf:d='terraform destroy'
    alias tf:o='terraform output'
    alias tf:h='terraform -help'

    # Terragrunt
    alias tg='terragrunt'
    alias tg:o='terragrunt output'
    alias tg:p='terragrunt plan'
    alias tg:a='terragrunt apply'
    alias tg:d='terragrunt destroy'

    # Vagrant
    alias vg='vagrant'
    alias vg:i='vagrant init'
    alias vg:u='vagrant up'
    alias vg:d='vagrant destroy'
    alias vg:df='vagrant destroy -f'
    alias vg:ssh='vagrant ssh'
    alias vg:sshc='vagrant ssh-config'
    alias vg:rdp='vagrant rdp'
    alias vg:h='vagrant halt'
    alias vg:sp='vagrant suspend'
    alias vg:s='vagrant status'
    alias vg:re='vagrant resume'
    alias vg:sg='vagrant global-status'
    alias vg:pr='vagrant provisioning'
    alias vg:r='vagrant reload'
    alias vg:r:pr='vagrant reload --provisioning'
    alias vg:ps='vagrant push'
    alias vg:sh='vagrant share'
    alias vg:b:a='vagrant box add'
    alias vg:b:r='vagrant box remove'
    alias vg:b:l='vagrant box list'
    alias vg:b:o='vagrant box outdated'
    alias vg:b:u='vagrant box update'
    alias vg:p:i='vagrant plugin install'
    alias vg:p:l='vagrant plugin list'
    alias vg:p:ui='vagrant plugin uninstall'
    alias vg:p:u='vagrant plugin update'

    # Youtube download cli
    alias yd:v="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]' $1 -o ~/Videos/youtube/'%(title)s.%(ext)s' --prefer-ffmpeg --ignore-config"
    alias yd:vp="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]' $1 -o ~/Videos/youtube/'%(uploader)s/%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s' --prefer-ffmpeg --ignore-config --yes-playlist"
    alias yd:a="youtube-dl -f 'bestaudio[ext=m4a]' $1 -o ~/Music/youtube/'%(title)s.%(ext)s' --ignore-config --prefer-ffmpeg --extract-audio -x --audio-format mp3"
    alias yd:ap="youtube-dl -f 'bestaudio[ext=m4a]' $1 -o ~/Music/youtube/%(playlist)s/[%(playlist_index)s] - %(title)s.%(ext)s' --ignore-config --prefer-ffmpeg --extract-audio -x --audio-format mp3 --ignore-errors --yes-playlist"

    # Transmission cli
    alias tsm="transmission-remote"

    # VS Codium
    alias code="codium"

    # Noevim
    alias nv="nvim"

    # Docker
    # Must be run first because images are attached to containers
    alias dc='docker'
    alias dc:i='docker info'
    alias dc:r='docker rm -f'
    alias dc:r:a='docker rm -f $(docker ps -a -q)'
    alias dc:cl='dc_cleanup'
    # Delete every Docker image
    alias dc:ri='docker rmi -f'
    alias dc:ri:a='docker rmi -f $(docker images -q)'
    alias dc:v='docker volume'
    alias dc:s='docker system'
    alias dc:n='docker network'
    alias dc:c='docker container'
    alias dc:l='docker ps'
    alias dc:la='docker ps -a'
    alias dc:prune='docker system prune'
    # Docker Compose
    alias dcc='docker-compose'
    alias dcc:v='docker-compose --version'
    alias dcc:u='docker-compose up -d'
    alias dcc:d='docker-compose down -v'
    alias dcc:b='docker-compose up -d --build -f'
    # Docker Machine
    alias dcm='docker-machine'
    alias dcm:c='docker-machine create -d virtualbox'
    alias dcm:e='function _dcme(){ eval $(docker-machine env '"$1"') };_dcme'
    alias dcm:r='docker-machine rm'
    alias dcm:n='function _dcmn(){ [docker-machine rm $1 ; docker-machine create -d virtualbox $1 ; eval $(docker-machine env $1)] || info "" }_dcmn'

    # spotify-tui
    alias spot="launchspt"
fi
